.primeiraSessaoInicio{
    height: 75vh;
    background-image: url('../../assets/VENHA\ FAZER\ PARTE\ DA\ MAIOR\ REDE\ DE\ DOAÇÃO\ \(1\)\ 1@2x.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    h2 {
        color: #fff;
        font-size: 34px;
        width: 30%;
        margin: 6%;
    }
}
